    @import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');

    .btn-info {
        width: 3em;
        height: 3em;
        Float: right;
    }

    .dropdown-item {
        font-size: 0.9em;
        color: black;
        cursor: pointer;
    }

    .texto {
        font-family: 'Mitr', sans-serif;
        text-align: center;
        margin-top: 6em;
        
    }

    .img_download {
        width: 3.5em;
        height: 3.5em;
    }

    .img_options {
        width: 1em;
        height: 1em;
    }

    #mb-3 {
        font-family: 'Mitr', sans-serif;
        margin: auto;
        margin-top: 6em;
        display: flex;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5em;
    }

    .form-control {
        min-width: 200px;
        width: auto !important
    }

    #btn_salvar {
        width: 5em;
        background-color: rgba(80, 194, 151, 255);
    }

    #btn_salvar:hover {
        background-color: #204b5d;
    }

    .options_icon {
        width: 1em;
        height: 1em;
        margin-left: 0.5em;
    }

    .toast {
        margin: auto;
    }

    #spinner {
        display: none;
    }

    #btn_dropdown {
        border: none !important;
        outline: none !important;
        padding: initial;
        width: 1em;
        height: 1em;
        margin: 0 10px 15px 10px;
        float: right;

    }

    #link {
        text-decoration: none;
        color: inherit;
    }
